body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#chooseComponent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
}

#chooseComponent h1 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#components {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60%;
}

#components button {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    cursor: pointer;
    border: 0.25em solid #ff0000;
}

#resistor {
    background-image: url("../icons/res_eu.svg");
}

#capacitor {
    background-image: url("../icons/capacitor.svg");
}


#inductor {
    background-image: url("../icons/inductor.svg");
}

#header {
    width: 100%;
    height: 2em;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#header button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    align-self: center;
    height: 100%;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #ff0000;
    border-radius: 0.25em;
    color: #f0f0f0;
    user-select: none;
}

#header button:hover {
    color: #ffff00;
    
}

#header button:active {
    color:#00aaff;
}
#github {
    width: 2em;
    height: 100%;
    align-self: center;
    user-select: none;
}
#github img {
    width: 100%;
    height: 100%;
    user-select: none;
}

#scheme {
    position: relative;
    width: 100%;
}
#tools {
    position: absolute;
    width: auto;
    height: auto;
    right: 1em;
    top: 2em;
    display: flex;
    flex-direction: column;

}

#tools #mainTools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#tools button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #000;
    border: 2px solid #ff0000;
    width: auto;
    height: auto;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5em;
}

#tools .active img {
    filter: brightness(0) saturate(100%) invert(49%) sepia(85%) saturate(2608%) hue-rotate(173deg) brightness(102%) contrast(106%);
}

#tools img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(21%) hue-rotate(60deg) brightness(105%) contrast(100%);
    user-select: none;
    pointer-events: none;
    vertical-align: middle;
    margin: 0;
}

#tools button:hover img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(94%) saturate(752%) hue-rotate(354deg) brightness(105%) contrast(105%);
}

#tools button:hover p {
    color: #ffff00;
}

.form {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#saveScheme {
    position: relative;
}

.textarea, #calc, #saveFileBtn, #open {
    font-size: 22px;
    border: 1px solid #ff0000;
    border-radius: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.textarea {
    width: 100%;
    max-width: 100%;
    background-color: black;
    color: #fff;
    padding: 5px;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    padding-left: 4px;
    overflow-y: auto !important;
    overflow-wrap: anywhere !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    resize: vertical;
}

.textarea::selection {
    background-color:#00aaff;
}

.textarea:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 3px #ff0000;
}

#calc, #saveFileBtn, #open {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    color: #fff;
    background-color: #000000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#calc:hover, #saveFileBtn:hover, #open:hover {
    color: #FFFF00;
    cursor: pointer;
}

#calc:active, #saveFileBtn:active, #open:active {
    color:#00aaff;
    cursor: pointer;
}

#answer {
    text-align: center;
    font-family: sans-serif;
}

#contextMenu {
    --subMenuOffsetLeft: 100%;
    --subMenuOffsetRight: auto;

    position: fixed;
    z-index: 99999;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: max-content;
    display: none;
}

#contextMenu ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

#contextMenu #ctxUL {
    padding: 0;
    top: 0;
    margin: auto;
    list-style-type: none;
    display: flex;
    width: 100%;
}

#contextMenu img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(21%) hue-rotate(60deg) brightness(105%) contrast(100%);
}

#contextMenu ul li > img, p, span {

    padding:5px;
    margin: auto;
}

#contextMenu ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 5px;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border: 1px solid red;
    box-sizing: border-box;
}

#contextMenu li:hover {
    color: #FFFF00;
}

#contextMenu .selected {
    color: #00aaff !important;
}

#contextMenu li:hover > img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(94%) saturate(752%) hue-rotate(354deg) brightness(105%) contrast(105%);
}

#contextMenu li:hover .dropDownMenu {
    display: flex;
    color: #FFFF00;
}

#contextMenu li:hover > .subDropDownMenu {
    display: flex;
}

#contextMenu li:active .dropDownMenu {
    display: flex;
}

#contextMenu li:focus > .subDropDownMenu {
    display: flex;
    
}

#contextMenu ul ul  {
    position: absolute;
    display: none;
    flex-direction: column;
    width: auto;
    top: 0;
    left: var(--subMenuOffsetLeft);
    right: var(--subMenuOffsetRight);
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    background-color: #fefefe;
    margin: auto auto;
    height: auto;
    width: 80%;
    position: relative;
    box-sizing: content-box;
    display: block;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.modalDialog {
    position: relative;
    top: 50%;
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
    padding: 5px;
    transform: translateY(-50%);
}

.modalHeader h3 {
    font-family: sans-serif;
    margin:auto auto;
}

.modal .close {
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    margin: auto 0;
    display: block;
    font-family: sans-serif;
    background-color: #ff0000;
    color: #fff; 
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.modal .close:hover {
    color: #000;
}

.modal .close:active {
    background-color: #e8080e;
}

#saveText, #openScheme {
    font-size: 12px;
}

#openScheme::placeholder {
    font-size: 22px;
}